<%= form.error_messages %>

<%= form.label :title %>
<%= form.text_field :title %>
<!-- <p>
  <%= form.label :star %><br />
  <%= form.check_box :star %>
</p>
<p>
  <%= form.label :importance %><br />
  <%= form.text_field :importance %>
</p>
<p>
  <%= form.label :urgency %><br />
  <%= form.text_field :urgency %>
</p> -->

<%= form.submit 'Create' %>
<%= loader_tag %>