<% form_for(@task) do |f| %>
  <%= render :partial => 'form', :locals => {:form => f} %>
<% end %>

<div id="i1_u0" class='quadrant'>
  <div class='arrowhead'></div>
  <%= render :partial => 'list', :object => @tasks.find_all {|t| t.importance == 1 and t.urgency == 0} %>
</div>

<div id="i1_u1" class='quadrant'>
  <%= render :partial => 'list', :object => @tasks.find_all {|t| t.importance == 1 and t.urgency == 1} %>
</div>

<div id="i0_u0" class='quadrant'>
  <%= render :partial => 'list', :object => @tasks.find_all {|t| t.importance == 0 and t.urgency == 0} %>
</div>

<div id="i0_u1" class='quadrant'>
  <div class='arrowhead'></div>
  <%= render :partial => 'list', :object => @tasks.find_all {|t| t.importance == 0 and t.urgency == 1} %>
</div>