<span class='label'
     style='background-color: <%= label.color %>; color: <%= label_text_color(label.color) %>;'
     id='label_<%= label.id %>' 
     data-id='<%= label.id %>'>
  <%= label.name %>
</span>