<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= framework_meta_tags 'application' %>
    <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'all' %>
    <%= javascript_include_tag :all, :recursive => true %>
  </head>
  <body class='<%= body_classes %>'>

    <div id="header">
      <div id="logo">
        <span>Eisenhower Matrix</span>
      </div>
      <div id="demo_badge"></div>
      <div id="nav">
        <%= render :partial => "/shared/nav" %>
      </div>

      <div id='flash'><%= flash[:notice] %></div>
      <div id='error'><%= flash[:error] %></div>
      <div class='clearboth'></div>
    </div>

    <div id="content">
      <%= yield  %>
    </div>

    <div id="footer"></div>
  </body>
</html>
